@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container {
    font-family: 'Roboto', "Courier New", "Times New Roman", "sans-serif";
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: calc(0.17 * 100vh ) calc(0.85 * 100vh);
}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #052e16;
    color:white;
    
}

.menu {
    display: grid;
    grid-template-rows: 8fr 40fr 20fr;
    row-gap: 30px;
    margin-top: 20px;
}

.logo {
    padding-inline-start: 10px;
    padding-right: 10px;
}

.logo>li {
    display: flex; 
    align-items: center; 
    font-size: 25px;
    font-weight: 600;
}

.dash-icon {
    width: 45px; 
    height: 45px; 
    margin-right: 10px; 
}

.link-icon {
    margin-right: 20px;
}

.links a {
    display:        flex;
    flex-grow:      1;
    flex-shrink:    1;
    align-items: center;
    height: 30px;
    font-size: larger;
    font-weight: 500;
    list-style-type: none;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

a { 
    text-decoration: none; 
    color:white; 
}

a:visited { text-decoration: none; }
a:hover { text-decoration: none; background-color: #16a34a; transition: 0.2s; padding-left: 40px;}
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.nav-bar {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 40px;
    box-shadow: 0 4px 5px 0px gainsboro;
    
    display: grid;
    grid-template-rows: 40% 40%;
}

.nav-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search {
    display: flex;
    align-items: center;
    padding: 3px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    margin-right: 70px;
}

#name {
    font-weight: bold;
}

.nav-profile-pic {
    width: 50px;
    height: 50px;
}

input {
    border: none;
    border-radius: 10px;
    background-color: #d4d4d4;
    width: 40vw;
    height: 25px;
    padding-left: 10px;
}

.nav-icon {
    width: 25px;
    height: 25px;
}

.nav-bottom {
    display: grid;
    grid-template-columns: 50% 50%;
}

.welcome {
    display: flex;
    align-items: center;
}

#welcome-profile-pic {
    width: 70px;
    height: 70px;
    margin-right: 15px;
}

.welcome-text {
    display: flex;
    flex-direction: column;
}

#hello {
    font-size: 14px;
    padding-bottom: 6px;
}

#welcome-name {
    font-size: 24px;
    font-weight: bold;
}

.user-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 40px;
}

button {
    background-color: #052e16;
    color: white;
    border: none;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

button:hover {
    background-color: #16a34a;
    cursor: pointer;
    transition: 0.4s;
}

